body{
	font-family: "Trebuchet MS", "Verdana", Arial;
}
h1{
	font-size:2em;
}
canvas{
	background-color: #EEE;
	width: 700px;
	height: 400px;
	display:block;
}
/*
div.content h1{
	background-color
}*/

a#play{
	font-size:1.5em;
	color: white;
	text-decoration: none;
	background-color:#2196f3;
	padding: 12px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
a#play:hover{
	background-color:#bce1ff;
}
a#restart{
	font-size:1.5em;
	color: black;
	text-decoration: none;
	background-color:#d2d2d2;
	padding: 12px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
a#restart:hover{
	background-color:white;
}
.wrapper{
	position:relative;
	width: 100%;
	height: 400px;
	text-align: center;
}
.content{
	display:inline-block;
	background: #ffffff url("../img/blurredTowers.jpg") center center;
	background-size: cover;
	border: 1px solid rgba(0,0,0,0.1);
	
	padding: 15px 0px;
}
section.rules{
	position: relative;
	background: rgba(255,255,255,0.5);
	padding: 25px 50px;
}
section.rules ol{
	display:inline-block;
	width:50%;
	text-align: left;
}
p{
	color: black;
}
div.error{
	position:fixed;
	background-color:red;
	color: white;
	font-size: 18px;
	padding: 15px;
	text-align: center;
	bottom: 50%;
	left: 25%;
	-webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
     opacity: 1;
	-webkit-transition: 0.5s;
    transition: 0.5s;
}
div.win{
	position:fixed;
	background-color:green;
	color: white;
	font-size: 18px;
	padding: 15px;
	text-align: center;
	top: 40%;
	left: 45%;
	-webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
     opacity: 1;
	-webkit-transition: 0.5s;
    transition: 0.5s;
}

div.hidden{
	position:fixed;
	background-color:none;
	color: white;
	font-size: 18px;
	padding: 15px;
	text-align: center;
	bottom: 600px;
	left: 50px;
	-webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
     opacity: 0;
	-webkit-transition: 1s;
    transition: 1s;	
}

.visible{
	display: inline-block;;
}
.hidden{
	display: none;
}

footer{
	background: #2d2d2d;
	color:white;
	padding: 15px 0px;
}
a{
	font-style: none;
	color: white;
	text-decoration: none;
}
a:hover{
	color: yellow;
}
select option{
	font-size: 1em;
	padding: 15px;
}
select{
	font-size: 1em;
	padding: 5px;
}