body{
	font-family: "Trebuchet MS", "Verdana", Arial;
}
canvas{
	background-color: #EEE;
	width: 700px;
	height: 400px;
}
a#play{
	font-size:1.2em;
	color: white;
	text-decoration: none;
	background-color:#2196f3;
	padding: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
a#play:hover{
	-webkit-transform: scale(1,1.2);
	transform: scale(1,1.2);
}
.wrapper{
	position:relative;
	width: 100%;
	height: 400px;
	text-align: center;
}
.content{
	display:inline-block;
}
p{
	color: black;
}
div.error{
	position:fixed;
	background-color:red;
	color: white;
	font-size: 18px;
	padding: 15px;
	text-align: center;
	bottom: 500px;
	left: 50px;
	-webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
     opacity: 1;
	-webkit-transition: 0.5s;
    transition: 0.5s;
}
div.win{
	position:fixed;
	background-color:green;
	color: white;
	font-size: 18px;
	padding: 15px;
	text-align: center;
	bottom: 500px;
	left: 50px;
	-webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
     opacity: 1;
	-webkit-transition: 0.5s;
    transition: 0.5s;
}

div.hidden{
	position:fixed;
	background-color:none;
	color: white;
	font-size: 18px;
	padding: 15px;
	text-align: center;
	bottom: 600px;
	left: 50px;
	-webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
     opacity: 0;
	-webkit-transition: 1s;
    transition: 1s;	
}

.visible{
	display: inline-block;;
}
.hidden{
	display: none;
}